.order-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 0 10px #ccc;
  background-color: white;
  padding: 3vmax 13vmax;

  .orderListTableBox {
    width: 100%;
  }
}

.table-header {
  background-color: red;
}
