.box-center {
	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-display: flex; /* 兼容safari浏览器 */
	-webkit-align-items: center; /* 兼容safari浏览器 */
	-webkit-justify-content: center; /* 兼容safari浏览器 */
}

/* 阿里字体图标设置 */
.icon,
.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

/*路由切换动画 */
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
	will-change: transform;
	transition: all 600ms;
	position: absolute;
}
.slide-right-enter-from {
	opacity: 0.8;
	transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
	opacity: 0.8;
	transform: translate3d(100%, 0, 0);
}
.slide-left-enter-from {
	opacity: 0.8;
	transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
	opacity: 0.8;
	transform: translate3d(-100%, 0, 0);
}
