:root {

  --color-danger: rgb(255, 102, 102);
  --color-warning: rgb(255, 204, 102);
  --color-success: rgb(102, 255, 102);
  --color-info: rgb(102, 204, 255);
  --color-primary: rgb(102, 102, 255);
  --color-secondary: rgb(102, 153, 255);
  --color-default: rgb(102, 102, 102);

  --border-radius: 8px;

  --bg-color: rgb(240, 240, 240);
  --bg-color-dark: rgb(220, 220, 220);
  --bg-color-light: rgb(255, 255, 255);

  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;

  --font-color: rgb(50, 50, 50);
  --font-color-dark: rgb(30, 30, 30);
  --font-color-light: rgb(230, 230, 230);

}
