.dashboardCardBox {
  width: 100%;
  height: 100%;
}

.grid-content:hover {
  // 缩放
  transform: scale(1.05);
}

.grid-content {
  min-height: 10vmax;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  position: relative;

  &-icon {
    float: right;
    width: 30%;
    height: 5vmax;

    // 子元素垂直居中
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 70%;
      object-fit: contain;
      display: block;
      text-align: right;
    }
  }

  &-info {
    padding: 0.6vmax;
    float: left;
    width: 70%;

    &-num {
      font-size: 3vmax;
      color: #fff;
      text-align: left;
      font-weight: 800;
    }

    &-title {
      font-size: 1.3vmax;
      color: #fff;
      text-align: left;
      margin-top: 0.7vmax;
      font-weight: 400;
    }
  }

  &-footer {
    width: 100%;
    height: 3vmax;
    font-size: 1vmax;
    line-height: 3vmax;
    text-align: center;
    font-weight: 200;
    color: white;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
  }

}
